[submodule "weight-refit"]
	path = weight-refit
	url = https://gitee.com/cambricon/weight-refit.git
[submodule "cnpeak"]
	path = cnpeak
	url = https://gitee.com/cambricon/cnpeak.git
[submodule "cnindex"]
	path = cnindex
	url = https://gitee.com/cambricon/cnindex.git
[submodule "transcode"]
	path = transcode
	url = https://gitee.com/cambricon/transcode.git
